.audience h2 { 
	display: none;
}

.topic ul a.active {background:#b11917;}

.audience .content {
	float: none;
	width: auto;
	height: auto;
	min-height: inherit;
	box-shadow: none;
	background: none;
}

.audience ul li.leaf {
	list-style-image: none !important;
	list-style-type: none !important;
}

.banner h2 {
	display: none;
}

.banner .field-label {
	display: none;	
}

.node-type-gateway .events .event-desc {
	display: none;
}

.region-support-slideshow h2,
.region-support-gift h2,
.page-landing .cols4 .col h2 {
	display: none;
}

.page-landing .cols4 .col .region,
.page-landing .cols4 .col .block,
.page-landing .cols4 .col .block .content {
	padding: 0px;
	width: 100%; 
}

.relatedLinks {
	/* display: none; */
}

.region-admissions-menu ul li.leaf {
	list-style-type: none;
	list-style-image: none;
}

.admissionPods h2 {
	display: none;
}

.region-horizontal-news-feed h2,
.region-horizontal-events-feed h2 {

}

/* Archives ======= */

.clear {
	clear: both;
}

.post-pager {
	margin-top: 12px;
}

.post-pager li {
	border: none !important;
	margin-left: 3px !important;
}

/* Search Form ====== */

#search-block-form #edit-search-block-form--2 { float:left;width:80%;height:17px;font-size:1.4em;color:#919191;font-family:'proxima-nova', Arial, Helvetica, sans-serif;border:none;margin:2px 0 0 5px;}

#search-block-form #edit-submit,
#search-block-form #edit-submit--2 { position:absolute;width:25px;height:25px;right:4px;top:0;border:none;background:url('../images/btnSiteSearch.png') no-repeat 0 0;cursor:pointer; text-indent: -999em;}

/* Search Menu ======= */

.utility ul.menu li {
	margin: 0px;
}

.utility li.leaf {
	padding: 0px;
	list-style-image: none;
}

.utility li:hover {
	list-style-image: none !important;
	list-style-type: none !important;
}

/* Universal Sidebar ======= */

#block-nodequeue-block-14 h2 {
	display: none;
}

/* Administration ======= */

.not-front ul.tabs {
	margin: 0px !important;
	padding: 0px !important;
}

.not-front .tabs li {
	background: none;
	padding: 0px !important;
}

/* Left Column ======= */

.region-left-column h2 {
	display: none;
}

.leftColumn ul li.expanded {
	list-style-image: none;
	list-style-type: none;
}

.leftColumn ul.menu li {
	margin: 0px;
}

.leftColumn .pod {
	background: none;
	margin-top: 30px;
}

/* Right Column ======= */

/* Footer ======== */

.footer ul.menu {
	text-align: center !important;
}

/* Form Styles ======= */

.page-content .form-text,
.page-content .form-textarea {
	border: 1px solid #aca89e !important;
	color: #aca89e !important;
	padding: 6px 4px 6px 4px !important;
	font-size: 12px;
}


.page-content .form-submit {padding:10px 5% 13px;font-size:1.4em;color:#fff;background:#3184b6;border-radius:3px;box-shadow:0 0 5px #999;text-align:center; border: none;}

.page-content .form-submit:hover{background:#b11917;text-decoration:none; cursor: pointer;}

.page-content .form-item {
	font-size: 130%;
}

.page-content .form-item label {
	margin-bottom: 4px;
}

/* Featured Tabs ======= */



/* Mobile Site Search ======= */

.mobileShow .mobileSiteSearch #block-user-login {
	display: none !important;
}

/* Content Area ======== */

/*
.page-content .mainContent {
	padding-right: 15px !important;
}

.page-content .mainContent .inner { 
	padding-right: 0px !important;
}
*/

/* Tabbed Sliders ======== */

.gContent .gInner {
	display: block;
}

.gContent .selected {
	display: block !important;
}

/* Gateway Page ======== */
.gateway .side ul.announcements li {
	background: none;
}

/* Wysiwyg Styles ======== */

.column-row {
	clear: both;
	padding-bottom: 23px;
}

.column-2 {
	float: left;
	width: 46%;
	padding: 0 4% 0 0;
}

.column-3 {
	float: left;
	width: 29%;
	padding: 0 4.3% 0 0;
}

.quote {
	float: left;
	width: 100%;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	padding: 2px 0;
	background: #f6f6f6;
}