.audience h2 { 
	display: none;
}

.topic ul a.active {background:#b11917;}

.audience .content {
	float: none;
	width: auto;
	height: auto;
	min-height: inherit;
	box-shadow: none;
	background: none;
}

.audience ul li.leaf {
	list-style-image: none !important;
	list-style-type: none !important;
}

.banner h2 {
	display: none;
}

.banner .field-label {
	display: none;	
}

.node-type-gateway .events .event-desc {
	display: none;
}

.region-support-slideshow h2,
.region-support-gift h2,
.page-landing .cols4 .col h2 {
	display: none;
}

.page-landing .cols4 .col .region,
.page-landing .cols4 .col .block,
.page-landing .cols4 .col .block .content {
	padding: 0px;
	width: 100%; 
}

.relatedLinks {
	display: none;
}

.region-admissions-menu ul li.leaf {
	list-style-type: none;
	list-style-image: none;
}

.admissionPods h2 {
	display: none;
}

/* Archives ======= */

.clear {
	clear: both;
}

.post-pager {
	margin-top: 12px;
}

.post-pager li {
	border: none !important;
	margin-left: 3px !important;
}

/* Search Form ====== */

#search-block-form #edit-search-block-form--2 { float:left;width:80%;height:17px;font-size:1.4em;color:#919191;font-family:'proxima-nova', Arial, Helvetica, sans-serif;border:none;margin:2px 0 0 5px;}

#search-block-form #edit-submit,
#search-block-form #edit-submit--2 { position:absolute;width:25px;height:25px;right:4px;top:0;border:none;background:url('../images/btnSiteSearch.png') no-repeat 0 0;cursor:pointer; text-indent: -999em;}