.columns2 .col {
	float: left;
	width: 46%;
	padding: 0 4% 0 0;
}

.columns3 .col {
	float: left;
	width: 29%;
	padding: 0 4.3% 0 0;
}

.quote {
	float: left;
	width: 100%;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	padding: 2px 0;
	background: #f6f6f6;
}

html {
	font-family: 'proxima-nova', Arial, Helvetica, sans-serif;
	color: #1f1d1d;
	font-size: .8em;
	padding: 0 0 24px;
	line-height: 1.4em;
}

/* Default from base.css ======== */
a{text-decoration:none;color:#3084b6;}
a:hover{text-decoration:underline;}
.inline{float:left;width:220px;margin:4px 20px 0 0;background:#000;}
.inline img{float:left;width:100%;height:auto;}
.inline p{font-size:1.4em;color:#fff;padding:12px 5%;float:left;width:90%;}
.inline p a{font-size:0.71em;text-transform:uppercase;font-weight:600;}
p{font-size:1.0em;padding:0 0 24px;line-height:1.4em;}
h1{font-family:'franklin-gothic-urw-cond', Arial, Helvetica, sans-serif;font-size:2.8em;padding:0;line-height:1.4em;text-transform:uppercase;line-height:1.2em;font-weight:bold;}
h2{font-family:'franklin-gothic-urw-cond', Arial, Helvetica, sans-serif;font-size:2.4em;padding:0;line-height:1.4em;text-transform:uppercase;line-height:1.2em;font-weight:bold;padding:0 0 16px;}
h3{font-family:'franklin-gothic-urw-cond', Arial, Helvetica, sans-serif;font-size:2.1em;padding:0;line-height:1.4em;text-transform:none;line-height:1.2em;font-weight:bold;padding:0 0 16px;}
h4{text-transform:none;font-size:1.8em;padding:0 0 16px;}
ul{list-style:none;padding:0 0 20px 0; font-size: 1.1em;}
ol{list-style:decimal outside none;padding:0 0 20px 20px; font-size: 1.0em;}
li{font-size:1.0em;padding:0 0 4px;line-height:1.4em;}
ul li{list-style:none;padding:0 0 4px 20px;background:url('../images/bullet.png') no-repeat 3px 8px;}
ul.links li{background:url('../images/linkBullet.png') no-repeat 3px 3px;}
ol li{font-weight:bold;color:#b11917;}
ol li span{font-weight:normal;color:#1f1d1d;}

table{width:100%;}
table tr{width:100%; }
table tr td{padding:10px;background:#ececec;font-size:1.0em;color:#282828;border-bottom:2px solid #fff;font-weight:600;text-align:center;border-right:1px solid #a1a1a1;}

table tr:nth-child(odd) td{background:#bdbdbd;}
table tr:nth-child(last) td{border-bottom:none;}
table tr:nth-child(last) td{border-right:none;}
table tr td.first{background:none;text-align:right;color:#b11917;border-right:none;}
table tr.note td{background:none;text-align:left;border:none;}
table tr td p{font-size:1em;color:#282828;font-weight:normal;font-style:italic;}
table tr th{background:#3084b6;color:#fff;font-size:1.2em;text-transform:uppercase;text-align:center;padding:10px;font-family:'franklin-gothic-urw-cond', Arial, Helvetica, sans-serif;font-weight:600;}
table tr th.clear{background:none;}